#topri{
	float: right;
	text-align: center;
}

#title{
	background-color: #402950;
}

.img-fluid{
	width: 100%;
}

#ch{
	color: white;
}

.chart-container { 
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}